$color1: rgba(255, 0, 0, 1)

$black1: rgba(0, 0, 0, 1)
$black2: rgba(0, 0, 0, .5)
$black3: rgba(0, 0, 0, .3)
$black4: rgba(0, 0, 0, .1)
$black5: rgba(0, 0, 0, .05)

$grey1: #282727
$grey2: #a29c9b
$grey3: #efeded
$grey4: #fcfcfc

$white1: rgba(255, 255, 255, 1)

$transparent: rgba(255, 255, 255, 0)
